<app-header />

<div class="container mt-5">
  <div class="row">
      <div class="col-md-6">
          <!-- Carousel for product images -->
          <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active" *ngFor="let image of product?.product_images; let i = index" [ngClass]="{'active': i === currentImageIndex}">
                      <img src="/api/products/images/{{image.image_url}}" class="d-block w-100" alt="Product Image 1">
                  </div>
              </div>
              <!-- Carousel controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev" (click)="previousImage()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next" (click)="nextImage()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
              <!-- Thumbnails as indicators -->
              <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#productCarousel"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                    *ngFor="let image of product?.product_images; let i = index"
                    [ngClass]="{'active': i === currentImageIndex}"
                    (click)="thumbnailClick(i)"
                >
                      <img src="/api/products/images/{{image.image_url}}" class="img-fluid">
                  </button>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <h2>{{product.name}}</h2>
          <p class="lead">{{product.description}}</p>
          <h3>{{product.priceFomatted}}</h3>
          <!-- Quantity selection -->
          <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" id="quantity" class="form-control w-25" value="1">
          </div>
          <!-- Action buttons -->
          <button class="btn btn-primary me-2">Add to Cart</button>
          <button class="btn btn-success">Buy Now</button>
      </div>
  </div>
</div>

<app-footer />