<app-header />


<!-- Search form -->
<div class="container mt-4 mb-2">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <form class="d-flex" (submit)="onSearchProduct()">
        <input class="form-control me-2" name="search" [(ngModel)]="searchText" type="search" placeholder="Search" aria-label="Search">
        <select class="form-select me-2" name="category" aria-label="Category" [(ngModel)]="selectedCategory">
            <option selected value="">Choose category</option>
            <option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<main class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      <div class="col" *ngFor="let product of products">
          <div class="card" (click)="goToProductDetail(product.id)">
              <img src="/api/products/images/{{product.thumbnail}}" class="card-img-top" alt="{{product.name}}">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p><strong>Price:</strong> {{product.priceFomatted}}</p>
                <div class="button-group d-grid gap-2">
                  <button class="btn btn-primary" type="button">Add to Cart</button>
                  <button class="btn btn-success" type="button">Buy Now</button>
                </div>
            </div>
          </div>
      </div>
  </div>

  <nav class="mt-5">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" aria-label="Previous" (click)="onPageChange(1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" aria-label="Previous" (click)="onPageChange(currentPage - 1)">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{'active': page == currentPage}">
          <a class="page-link" (click)="onPageChange(page)">{{page}}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages - 1">
        <a class="page-link" aria-label="Next" (click)="onPageChange(currentPage + 1)">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages - 1">
        <a class="page-link" aria-label="Next" (click)="onPageChange(totalPages - 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</main>

<app-footer />