<app-header />


<!-- Search form -->
<div class="container mt-4 mb-2">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <select class="form-select me-2" aria-label="Category">
            <option selected>Choose category</option>
            <option value="1">Electronics</option>
            <option value="2">Clothing</option>
            <option value="3">Accessories</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<main class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      <div class="col">
          <div class="card">
              <img src="https://cdn.shopify.com/s/files/1/2303/2711/files/2_e822dae0-14df-4cb8-b145-ea4dc0966b34.jpg?v=1617059123" class="card-img-top" alt="Product Image">
              <div class="card-body">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Short description of the product.</p>
                <p><strong>Warranty:</strong> 2 Years</p>
                <p><strong>Price:</strong> $999.99</p>
                <p><strong>Rating:</strong> ★★★★☆</p>
                <div class="button-group d-grid gap-2">
                  <button class="btn btn-primary" type="button">Add to Cart</button>
                  <button class="btn btn-success" type="button">Buy Now</button>
                </div>
            </div>
          </div>
      </div>
  </div>

  <nav class="mt-5">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</main>

<app-footer />