<app-header />

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 card p-3">
      <h2 class="mb-3 text-center">Register</h2>
      <form
        class="need-validation"
        novalidate
        #registerForm="ngForm"
        (ngSubmit)="register()"
      >
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            placeholder="E.g: 0987654321"
            required
            [(ngModel)]="phoneNumber"
            (input)="onPhoneChange()"
          />
          <div class="invalid-feedback" *ngIf="phoneNumber.length !== 10">Phone number is invalid</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
            placeholder="At least 3 characters"
            [(ngModel)]="password"
          >
          <div class="invalid-feedback" *ngIf="password.length < 3">Password has at least 3 characters</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            placeholder="At least 3 characters"
            required
            class="{{confirmPassword !== password ? 'ng-invalid' : ''}}"
            [(ngModel)]="confirmPassword"
          >
          <div class="invalid-feedback" *ngIf="confirmPassword.length < 3">Password has at least 3 characters</div>
          <div class="invalid-feedback" *ngIf="confirmPassword !== password && password.length >= 3 && confirmPassword.length >= 3">Password doesn't match</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            required
            placeholder="John Doe"
            [(ngModel)]="fullName"
          >
          <div class="invalid-feedback" *ngIf="!fullName">Please enter your name</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            name="dob"
            placeholder="John Doe"
            required
            class="{{overEighteen() ? '' : 'ng-invalid'}}"
            [(ngModel)]="dateOfBirth"
          >
          <div class="invalid-feedback" *ngIf="!dateOfBirth">Please provide your date of birth</div>
          <div class="invalid-feedback" *ngIf="!overEighteen()">You're not 18</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            placeholder="123 Main Street"
            required
            [(ngModel)]="address"
          >
          <div class="invalid-feedback" *ngIf="!address">Please provide your address</div>
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="agree"
            required
            [(ngModel)]="agreeTermsAndConditions"
          >
          <label
            class="form-check-label {{agreeTermsAndConditions ? '' : 'text-danger'}}"
            for="rememberMeCheck"
          >I agree with all terms and conditions</label>
        </div>
        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-primary"
          >Register</button>
        </div>
      </form>
      <div class="mt-4 text-center">
        <p>You have an account? <a
            href="#"
            class="link-primary"
          >Login</a></p>
      </div>
    </div>
  </div>
</div>

<app-footer />
