<app-header />

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6 card p-3">
          <h2 class="mb-3 text-center">Regsiter</h2>
          <form>
              <div class="mb-3">
                  <label for="emailInput" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                  <label for="passwordInput" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passwordInput" placeholder="At least 3 characters">
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="At least 3 characters">
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Full Name</label>
                <input type="email" class="form-control" id="nameInput" placeholder="John Doe">
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Address</label>
                <input type="email" class="form-control" id="addressInput" placeholder="123 Main Street">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMeCheck">
                <label class="form-check-label" for="rememberMeCheck">I agree with all terms and conditions</label>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
          </form>
          <div class="mt-4 text-center">
              <p>You have an account? <a href="#" class="link-primary">Login</a></p>
          </div>
      </div>
  </div>
</div>

<app-footer />