<app-header />

<div class="container mt-5">
  <!-- Confirmation Text -->
  <div class="text-center mb-4">
      <h2>Thank You for Your Purchase!</h2>
      <p>Your order has been confirmed. Here are the details of your purchase:</p>
  </div>

  <!-- Product List with Thumbnails -->
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of cartItems; let i = index">
            <tr>
                <th scope="row">#{{ i + 1 }}</th>
                <td width="10%"><img src="/api/products/images/{{item.product.thumbnail}}" [alt]="item.product.name" class="img-thumbnail"></td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price | currency }}</td>
                <td>{{ item.product.price * item.quantity | currency }}</td>
            </tr>
          </ng-container>
      </tbody>
  </table>

    <!-- Coupon Code Input -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter coupon code" aria-label="Coupon code">
                <button class="btn btn-outline-secondary" type="button">Apply Coupon</button>
            </div>
        </div>
    </div>

  <!-- Continue Shopping Button -->
   <p class="mb-3">Total: {{totalAmount | currency}}</p>
  <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary">Continue Shopping</button>
      <button type="button" class="btn btn-primary mx-3">Checkout</button>
  </div>
</div>

<app-footer />