<app-admin-header />
<div class="container">
  <div class="table-responsive my-5">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Order Date</th>
          <th scope="col">Status</th>
          <th scope="col">Total</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.fullname }}</td>
          <td>{{ order.order_date | date }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.total_money | currency }}</td>
          <td>
            <div class="d-flex gap-2">
              <button class="btn btn-primary btn-sm mr-2">View</button>
              <button class="btn btn-danger btn-sm">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <nav class="mt-5">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" aria-label="Previous" (click)="onPageChange(1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" aria-label="Previous" (click)="onPageChange(currentPage - 1)">
          <span aria-hidden="true">&lsaquo;</span>
        </a>
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{'active': page == currentPage}">
          <a class="page-link" (click)="onPageChange(page)">{{page}}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages - 1">
        <a class="page-link" aria-label="Next" (click)="onPageChange(currentPage + 1)">
          <span aria-hidden="true">&rsaquo;</span>
        </a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages - 1">
        <a class="page-link" aria-label="Next" (click)="onPageChange(totalPages - 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </div>
</div>
