<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand d-flex gap-2" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24px" height="24px">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.6 13h11l3-8H7"></path>
                <path d="M7 6h15"></path>
            </svg>
            <span>ShopApp</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Products</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active" routerLink="/notifications">Notifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/orders">Cart</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
              </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ userResponse?.fullname}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                  <li><a class="dropdown-item" routerLink="/update-user">My profile</a></li>
                  <li><a class="dropdown-item" routerLink="/order">My orders</a></li>
                  <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
      </div>
  </nav>
</header>